selenium==4.16.0
python-dotenv==1.0.0
webdriver-manager==4.0.1
pandas==2.2.3
numpy==2.0.2
requests==2.31.0
beautifulsoup4==4.12.2
apscheduler==3.10.4
loguru==0.7.2
flask==3.0.0
flask-bootstrap==3.3.7.1
flask-wtf==1.2.1
supabase==1.2.0
flask-login==0.6.3
semver==3.0.2
zipfile36==0.1.3